@font-face {
	font-family: 'Myriad Pro';
	src: url("../fonts/MYRIADPRO-REGULAR.OTF");
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Myriad Pro';
}

/*seccion features*/

.section.features {
	background-color: #EEE;
}

.feature-element {
	text-align: center;
	display: inline-block;
	width: 220px;
	margin: 30px;
	vertical-align: top;
	min-height: 200px;
}

.feature-title {
	margin-top: 5px;
	margin-left: 5px;
	color: #111;
	vertical-align: baseline;
	font-size: 18px;
}

.feature-info {
	margin-top: 5px;
	margin-left: 5px;
	color: #999;
	vertical-align: baseline;
	font-size: 17px;
}

.triangular-separator {
	width: 100%;
	background-image: url("../images/triangle.png");
	background-repeat: repeat-x;
	height: 12px;
}

/*seccion updates*/

.section {
	background-color: #f5c85f;
	text-align: center;
	padding: 30px 0;
}

.updates-title {
	color: #fff;
	margin: 0;
	font-size: 18px;
}

.input-email {
	border-radius: 7px;
	width: 250px;
	margin: 20px auto;
	height: 25px;
	border: 0;
}

.subscribe-button {
	border: solid 1px #fff;
	background-color: #f5c85f; 
	width: 80px;
	margin:0 auto;
	height: 30px;
	border-radius: 7px;
	color: #fff;
	font-size: 16px;
}

/*seccion principal*/

.principal-wrapper {
	border-top: solid 8px #f5c85f;
	text-align: center;
	padding: 40px 0;
	width: 100%;
	min-height: calc(100% - 600px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.principal {
	display: block;
}

.separator {
	display: inline-block;
	width: 4px;
	background: linear-gradient(0, #fff, #f5c85f, #fff);
	min-height: 300px;
	margin-left: 40px;
	vertical-align: middle;
}

.principal-phone {
	display: inline-block;
	text-align: right;
	vertical-align: middle;
}

.principal-logo {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	padding-left: 40px;
}

@media screen and (max-width: 1000px) {
    .separator, .principal-phone {
        display: none;
    }
}